@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat.woff2") format("woff2"),
    url("../fonts/montserrat.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserratbold.woff2") format("woff2"),
    url("../fonts/montserratbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Crimson Text";
  src: url("../fonts/crimsontextitalic.woff2") format("woff2"),
    url("../fonts/crimsontextitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
