.main-nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  padding: 66px 0;
}

.main-nav__logo {
  margin-right: auto;
  margin-left: 85px;
}

.main-nav__image {
  display: inline-block;
  width: 34px;
  height: 34px;

  vertical-align: top;
}

.main-nav__name {
  font-family: $other-font;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.main-nav__list {
  @include reset-list;

  width: 700px;
  margin-right: 52px;
}
